.zoom {
         display: inline-block;
         transition: transform 0.4s, color 0.3s;
}

.zoom:hover {
         transform: scale(1.1);
         color: red;
}

a:hover {
         color: red;
       }