<div class="container-fluid">
         <a class="navbar-brand text-primary text-uppercase me-6" href="/"><strong> Cipher<span>_Works
                           </span></strong></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
         </button>

         <div class="navbar navbar-expand-lg center" id="navbarSupportedContent">
                  <center>
                           <ul class="navbar-nav me-auto mb-2 ms-2 mb-lg-0">
                                   
                                    <li class="nav-item">
                                             <a class="nav-link text-white zoom" href="/cesarHome">Cifra_de_Cesar</a>
                                    </li>
                                    <li class="nav-item">
                                             <a class="nav-link text-white zoom" href="/playfairHome">Cifra_de_Playfair</a>
                                    </li>
                                    <li class="nav-item">
                                             <a class="nav-link text-white zoom" href="/colunarHome">Transposição_Colunar</a>
                                    </li>
                                    <li class="nav-item">
                                             <a class="nav-link text-white zoom" href="/rsaHome">Algoritmo_RSA</a>
                                    </li>
                                    <li class="nav-item">
                                             <a class="nav-link text-white zoom" href="/assinatura/home">Assinatura_Digital</a>
                                    </li>
                           </ul>
                  </center>

         </div>
</div>