<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head th:replace="~{fragment/head}"></head>

<body>

         <nav class="navbar navbar-expand-lg bg-dark" ><div th:replace="~{fragment/div}"></div></nav>

  <div class="container text-center my-5">
    <h2>Cifra de Transposição Colunar</h2>



  </div>
  <div class="container my-4 p-4 center" style="border: 1px dotted black;">
    <h4 class="text-center pb-4">Cipher_Works</h4>
    <form class="col-md-4 offset-md-4" method="post" th:action="@{/saveColunar}">
      <div class="mb-4">
        <input type="text" class="form-control mb-4" name="textoSimples" placeholder="Insira o texto simples!">
        <input type="text" class="form-control" name="chave" placeholder="Insira a Chave!">
      </div><br>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Cifrar</button>
      </div>
    </form><br>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>